@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.searchBar{
    color:black;
    font-size: medium;
    border: none;
    height: 25px;
    background-color: transparent;
    max-width: 130px;
  }
  textarea:focus, .searchBar:focus{
    outline: 0px solid;
    background-color: transparent;

}
::placeholder {
    color: gray;
    font-size:medium;
  }
.btn-search {
    color:black;
    background-color: transparent;
    transition: transform .2s;
    border: none;
}
.btn-search:hover {
    font-weight: bolder;
    transform: scale(1.2);
}
  .btn-search:active{
    color: white;
   
  }
  .box {
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding-left: 10px;
  }